
.example-container {
    display:flex !important;
    flex-wrap:wrap !important;
  }
.video-item {
    display:flex !important;
    flex-direction:column !important;
    width:25% !important;
    position:relative !important;
    overflow:hidden !important;
    text-align:center !important;
    vertical-align:middle !important;
    padding:0 !important;
  }
.video-item:before {
    content:'' !important;
    width:100% !important;
    height:100% !important;
    background:rgba(0,0,0,0.3) !important;
    position:absolute !important;
    opacity:0 !important;
  }
.video-item:hover:before { opacity:1 !important; }
.video-item .title {
    display:block !important;
    padding:5px 10px 10px 10px !important;
    font-size:12px !important;
  }


img {
	max-width: 100%;
}